@import 'tailwindcss';

@font-face {
    src: url('/font/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@utility interpolate-keywords {
    interpolate-size: allow-keywords;
}

@utility icon-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

:root {
    color-scheme: light dark;
}

html,
body {
    background-color: light-dark(var(--color-slate-100), var(--color-neutral-800));
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}